<style>
.myDiv {
border: 5px outset black;
background-color: #6495ED;
text-align: left;
font-family: 'Qahiri', sans-serif;
}
.myDiv2 {border: 5px outset black;
background-color: #6495ED;
text-align: center;}


</style>
